In [1]:
import pandas as pd

In [2]:
data = ("assets/temperaturedata.csv")

In [4]:
df = pd.read_csv(data)

In [5]:
df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Windspeed,Country,Date
0,Druzhba,52.0428,33.9453,68.04,94,47,7.18,UA,1624405444
1,Dikson,73.5069,80.5464,31.86,86,100,15.93,RU,1624405444
2,Mâncio Lima,-7.6142,-72.8958,75.33,76,81,2.37,BR,1624405444
3,Ivankiv,50.9386,29.8943,73.60,92,36,4.54,UA,1624405445
4,Hobart,-42.8794,147.3294,46.11,91,0,3.00,AU,1624405218
...,...,...,...,...,...,...,...,...,...
537,Besskorbnaya,44.6447,41.3110,66.16,85,1,2.59,RU,1624405607
538,Paso de los Toros,-32.8167,-56.5167,52.52,89,0,13.13,UY,1624405608
539,Karatau,43.1667,70.4667,57.00,44,26,2.77,KZ,1624405608
540,Smithers,54.7804,-127.1743,73.72,33,20,6.91,CA,1624405425
541,Barcelos,41.5388,-8.6151,61.84,88,37,7.09,PT,1624405346

In [18]:
data_html = df.to_html("data.html")